:root{
    --background : #1B263B;
    --background2 : #0D1B2A;
    --texte : #f1f1f1;
    --spoil: #f1f1f1;
    --spoil2: #333;
}

@font-face {
    font-family: 'Mason';
    src: url('police/Mason-bold.otf') format('truetype');

    font-family: 'Prompt';
    src: url('police/Prompt-Regular.ttf') format('truetype');

    font-family: 'Imprima';
    src: url('police/Imprima-Regular.ttf') format('truetype');

    font-family: 'Dosis';
    src: url('police/Dosis-VariableFont_wght.ttf') format('truetype');
  }

  
body {
    font-family: 'Imprima', sans-serif;
    margin: 0px;
    padding: 0px;
  }
  

body {
    background-color: var(--background);
    color: var(--texte);
}
.BtnTheme{
    cursor: pointer;
    color: var(--ecriture);
    font-size: 20px;
    border-radius: 5px;
}
.container {
    max-width: 800px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.main {
    width: 65%;
}

.main2 {
    width: 30%;
    background-color: var(--background2);
}

.experience{
    margin-top: 20%;
}

.formation, .interet{
    margin-top: 10%;
}

h1{
    font-family: 'Mason';
    font-size: 80px;
    letter-spacing: 10px;
    color: #F0B27A ;
}

h2{
    font-family: 'Prompt';
    font-size: 20px;
    letter-spacing: 1px;
}
.en_tete {
    text-align: center;
}

.titre_cat {
    font-weight: bold;
    text-decoration: underline;
    font-family: 'Dosis';
}

.sous_titre_cat {
    font-family: 'Dosis';
}

.date_cat {
    font-size: 14px;
    font-style: italic;
    margin-bottom: 10px;
}

.contenu_cat {
    margin-top: 0;
}

.InteretIcon svg {
    font-size: 50px;
  }
  
.cordonnee {
    background-color: var(--background);
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.cordonnee .photo_CV {
    max-width: 100%;
    height: auto;
    text-align: center;
}
.cordonnee .IconOeil {
    text-align: center;
    cursor: pointer;
}

.spoil{
    background-color: var(--spoil);
}

.LienLink {
    text-decoration: none;
    color: var(--texte);
}

progress{
    width: 20%;
    accent-color: #85C1E9;
}

.fr {
    margin-top: 0;
}

.en {
    margin-top: 0;
}

.ndls {
    margin-top: 0;
}

@media only screen and (max-width: 800px) {
    .container {
    flex-direction: column;
    max-width: 100%;
    padding: 0 20px;
    }
    .main,
    .main2 {
    width: 100%;
    text-align: center;
    }
    }
    
    @media only screen and (min-width: 800px) {
    .container {
    max-width: 800px;
    }
    .main {
    width: 65%;
    }
    .main2 {
    width: 30%;
    }
    }
    
    .photo_CV {
    max-width: 50%;
    height: auto;
    margin-top: 20px;
    }
    
    .cordonnee,
    .competence,
    .objetctif_perso,
    .langues {
    background-color: var(--background2);
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    }
    
    .titre_cat {
    font-size: 35px;
    font-weight: bold;
    }
    
    .sous_titre_cat {
    font-size: 25px;
    }
    
    .sous_titre_cat2 {
    font-size: 18px;
    }
    
    .date_cat {
    font-size: 14px;
    font-style: italic;
    margin-bottom: 10px;
    }
    
    .contenu_cat {
    margin-top: 0;
    }
    
    .fr,
    .en,
    .ndls {
    margin-top: 0;
    }
